
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="/myweb/updateUser" method="GET">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ m.id }}">
    账号：<input name="username"  value="{{ m.username }}"><br>
    密码：<input name="password"  value="{{ m.password }}"><br>
    地址：<input name="add"  value="{{ m.add }}"><br>
    数量：<input name="stock"  value="{{ m.stock }}"><br>

    <input type="submit" value="提交">
</form>
 
</body>
</html>
